flows/Create_new_Book.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <description>Creates a new Book record from the Publishing House record</description>
    <dynamicChoiceSets>
        <name>Genre</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Genre__c</picklistField>
        <picklistObject>Book__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Language</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Language__c</picklistField>
        <picklistObject>Book__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create new Book {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create new Book</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>This will create a record from the values inputted by user in Screen</description>
        <name>Create_Book_Record</name>
        <label>Create Book Record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>Genre__c</field>
            <value>
                <elementReference>BookGenre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language__c</field>
            <value>
                <elementReference>BookLanguage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publishing_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publishing_House__c</field>
            <value>
                <elementReference>PublishingHouseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Version__c</field>
            <value>
                <elementReference>Version</elementReference>
            </value>
        </inputAssignments>
        <object>Book__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <description>Create Book from Publishing House Record</description>
        <name>Create_Book</name>
        <label>Create Book</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Create_Book_Record</targetReference>
        </connector>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <fieldText>Book Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BookGenre</name>
            <choiceReferences>Genre</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Genre</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BookLanguage</name>
            <choiceReferences>Language</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Version</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Version</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <helpText>&lt;p&gt;This component will create a new Book against the Publishing House&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Book</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Capture the current Publish House record ID for reference to capture on the book record</description>
        <name>PublishingHouseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
